<template>
  <div class="common-layout">
    <el-container>
      <el-header>
        <div class="container">
          <div class="header">人間有味是清歡的博客</div>
          <nav class="nav-links">
            <div class="nav-item"><router-link to="/">首頁</router-link></div>
            <div class="nav-item"><router-link to="/">HTML</router-link></div>
            <div class="nav-item"><router-link to="/css">CSS</router-link></div>
            <div class="nav-item"><router-link to="/">REACT</router-link></div>
            <div class="nav-item"><router-link to="/">VUE</router-link></div>
            <div class="nav-item">
              <router-link to="/">WEBPACK</router-link>
            </div>
            <div class="nav-item"><router-link to="/">ROLLUP</router-link></div>
          </nav>
        </div>
      </el-header>
      <router-view></router-view>
    </el-container>
  </div>
</template>

<script setup></script>

<style scoped>
.el-main {
  padding: 0;
  height: calc(100vh - 70px);
}
.el-aside {
  height: calc(100vh - 70px);
  border-right: 1px solid #eaecef;
}
.el-header {
  position: relative;
  border-bottom: 1px solid #eaecef;
}
.container {
  position: absolute;
  top: 0.75rem;
  right: 0.7rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.header {
  display: inline-block;
  position: absolute;
  left: 0.5rem;
}
.nav-links {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
}
.nav-item {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  line-height: 2rem;
}
</style>
