<template>
  <el-container>
    <el-aside width="200px">
      <HomeCom />
      <router-view></router-view>
    </el-aside>
    <el-container>
      <el-main>Main</el-main>
      <el-footer>Footer</el-footer>
    </el-container>
  </el-container>
</template>
<script>
import HomeCom from './HomeCom.vue'

export default {
  name: 'CssPaeg',
  components: {
    HomeCom,
  },
  mounted() {
    console.info('========')
  },
}
</script>
<style scoped>
@import './style/common.css';
</style>
