<template>
  <ul class="aside-ul">
    <li>學習資源</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>WEBPACK</li>
    <li>React</li>
  </ul>
</template>
<style scoped>
.aside-ul {
  text-align: left;
  list-style-type: none;
  padding-left: 16px;
}
</style>
