<template>
  <HelloWorld />
</template>

<script>
import HelloWorld from '@/components/ContainerLayout.vue'
import router from './router/index'

export default {
  name: 'App',
  router,
  components: {
    HelloWorld,
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
